.template-reports-grid {
    grid-column-start: 1;
    grid-column-end: 5;
    position: relative;
}
@media screen and (max-width: 440px) {
    .template-reports-grid {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 21;
    }
}