.template__img-reports {
    position: absolute;
    top: 18px;
    right: 42px;
    bottom: 25px;
}
@media screen and (max-width: 440px) {
    .template__img-reports {
     bottom: 20px;
     right: auto;
    }
}