.template-technique-grid {
    position: relative;
    grid-column-start: 4;
    grid-column-end: 7;
}
@media screen and (max-width: 440px) {
    .template-technique-grid {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 27;
      grid-row-end: 31;
    }
}