.template__grid-harvest {
  grid-column-start: 3;
  grid-column-end: 5;
}

@media screen and (max-width: 440px) {
  .template__grid-harvest {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}