.menu {
  font-size: 14px;
  margin: 0;
  padding: 2% 0.6% 0 0.6%;
  background-color: #1F2339;
  font-weight: 400;
}

@media screen and (max-width: 762px) {
    .menu {
      display: block;   
    }
}